* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}

body {
  height: 100%;
}

a {
  cursor: pointer;
  color: white;
}

.head {
  display: flex;
  background-color: black;
  height: 80px;
  align-items: center;
  justify-content: space-around;
}

.sonylogo img {
  width: 100px;
}

.cart img{
  width: 22.5px;
}

.rewards a{
  color: #1f7bc0;
}

input {
  width: 18rem;
  height: 1.75rem;
  padding-left: 12px;
  border: none;
  text-indent: 10px;
  font-weight: 400;
  border-radius: 150px;
  
}

.menus {
  display: flex;
  flex: 50%;
  justify-content: space-around;
  background-color: #1c1c1c;
  color: white;
  height: 50px;
  align-items: center;
}

.amenu {
  color: white;
}

.heading {
  text-align: center;
  margin: 90px 0;
  font-size: 51px;
  line-height: 26px;
  font-weight: 800;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.buttons {
  display: flex;
  margin-left: 80px;
  justify-content: space-around;
}

.onebut_img {
  width: 140px;
}

.abut {
  display: flex;
  flex-direction: column;
  color: rgb(33, 39, 56);
  font-weight: 500;
  text-decoration: none;
}

.feature {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 120px;
  margin-left: 36px;
  margin-bottom: 100px;
}

.feature_img {
  width: 540px;
}

.feature_image {
  display: flex;
  width: 800px;
}

.feature_para {
  width: 600px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.feature_text {
  font-size: 70px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 2px;
}

.feature_text2 {
  margin: 15px 0;
  font-weight: 400;
  color: rgb(52, 52, 52);
}

.feature_button {
  margin-top: 10px;
  cursor: pointer;
  width: 192px;
  height: 49px;
  border: 1px solid rgb(45, 117, 199);
  color: rgb(45, 117, 199);
  font-weight: 800;
  background-color: white;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.footer {
  background-color: black;
  padding: 50px;
}

.tags {
  display: flex;
  justify-content: space-around;
}

.tags p {
  color: rgb(135, 135, 146);
  margin-bottom: 18px;
}

.tags a {
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
}

.tags a:hover {
  color: rgb(135, 135, 146);
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.area {
  margin-top: 100px;
  display: flex;
}

.area button {
  background-color: rgb(60, 60, 66);
  color: white;
  display: flex;
  border: none;

  align-items: center;
}

.area .button1 {
  width: 180px;
  height: 30px;
  padding-left: 10px;
  margin-right: 12px;
  font-size: 12px;
}

.area .button1:hover {
  background-color: rgb(135, 135, 146);
  cursor: pointer;
}

.area .button2 {
  padding: 0 10px;
  font-size: 10px;
}

.area button img {
  width: 20px;
  margin-right: 5px;
}

.media {
  display: flex;
}

.media button {
  background-color: rgb(60, 60, 66);
  color: white;
  display: flex;
  border: none;
  align-items: center;
}

.media_img {
  display: flex;
  background-color: rgb(60, 60, 66);
  width: 30px;
  height: 30px;
}
.buttons a {
  text-align: center;
}

@media (max-width: 800px) {
  .head {
    padding: 10px 0;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

@media (max-width: 991px) {
  .head {
    flex-direction: ;
    
  }

  .head .support, .acc{
    display: none;
  }

   .rewards{



  }
  
}
